<template lang="html">
  <div>
    <div v-if="getImages.length > 0" class="image-container">
      <img v-for="image in getImages" :key="image.id" :src="image.urls.full" :alt="image.alt_description" />
    </div>
    <p v-else>0 results to display, search above</p>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'ImageList',
  computed: mapGetters(['getImages'])
};
</script>

<style lang="css" scoped>
.image-container {
  column-count: 3;
  column-gap: 0;
  grid-gap: 1rem;
}
img {
  max-width: 100%;
  padding: 5px;
}
p {
  text-align: center;
}
</style>
