<template lang="html">
  <div>
    <input @keyup.enter="onInput" placeholder="Search for images here" />
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'SearchBar',
  methods: {
    ...mapActions(['fetchImages']),
    onInput(e) {
      const searchTerm = e.target.value;
      this.fetchImages(searchTerm);
    }
  }
};
</script>

<style lang="css" scoped>
input {
  width: 75%;
}
div {
  text-align: center;
  margin: 20px;
}
</style>
