<template lang="html">
  <div class="container">
    <SearchBar />
    <ImageList />
  </div>
</template>

<script>
import SearchBar from './components/SearchBar';
import ImageList from './components/ImageList';

export default {
  name: 'App',
  components: {
    SearchBar,
    ImageList
  }
};
</script>

<style lang="css" scoped></style>
